:root {
  --font-family-heading: 'League Spartan', sans-serif;
  --font-family-body: 'Poppins', sans-serif;
  --img-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --content-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --darkmode-bg: #161616;
  --darkmode-nav-bg: rgb(22, 22, 22, 0.87);
  --darkmode-cards-bg: #202020;
  --darkmode-font: #FAFAFA;
  --darkmode-underline: #959595;
}

html {
  scroll-behavior: smooth;
}

#darkmode {
  background-color: var(--darkmode-bg);
  color: var(--darkmode-font);
}

#darkmode h2::after, #darkmode h3::after {
  background-color: var(--darkmode-font);
}

#darkmode .about__text, #darkmode .products__item, #darkmode .faq__list, #darkmode .contact__form {
  background-color: var(--darkmode-cards-bg);
}

#darkmode .line {
  background: var(--darkmode-font);
}

#darkmode .header__nav {
  background-color: var(--darkmode-nav-bg);
}

#darkmode .header__link {
  color: var(--darkmode-font);
}

#darkmode .header__link:hover {
  border-bottom-color: var(--darkmode-font);
}

#darkmode .header__close {
  color: rgb(202, 63, 63);
}

#darkmode .button {
  color: var(--darkmode-font);
  border-color: var(--darkmode-font);
}

#darkmode .products__expand {
  background: var(--darkmode-bg);
  color: var(--darkmode-font);
}

#darkmode .contact__input, #darkmode .contact__input::placeholder {
  color: var(--darkmode-font);
}

#darkmode .contact__optiongroup, #darkmode .contact__optiongroup option {
  background-color: var(--darkmode-cards-bg);
}

.no-scroll {
  overflow: hidden;
}

img, video {
  width: 100%;
}

.title--large {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  line-height: 130%;
}

.title--small {
  font-family: var(--font-family-heading);
  font-size: 36px;
  text-align: center;
}

.title--underscore {
  position: relative;
  padding-bottom: 14px;
}

.title--underscore::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background-color: #000;
}

.button {
  width: 135px;
  margin: 0 auto;
  border-radius: 900000px;
  background: transparent;
  padding: 12px 0;
  border: 1.5px solid black;
  font-family: var(--font-family-body);
  font-size: 15px;
  cursor: pointer;
}

/* Start of Header */

.header__wrapper--hide {
  opacity: 0 !important;
}

.header--top {
  color: white !important;
  background-color: transparent;
}

.header--top .line {
  background: white !important;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  opacity: 1;
  z-index: 20;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.575);
}

.header__title {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5%;
}

.header__toggles {
  display: flex; 
  gap: 20px;
  font-family: var(--font-family-body);
  font-size: 15px;
}

.header__toggles span { cursor: pointer; }

.hero__navBtn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line {
  display: block;
  height: 3px;
  width: 24px;
  background: black;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.87);
  transition: height 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.2s;
}

.header__nav--active {
  height: 100vh !important;
}

.header__nav--active .header__link {
  top: 0 !important;
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: height 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.header__item {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5%;
  height: 30px;
  overflow: hidden;
}

.header__link:hover {
  border-bottom: solid 4px black;
}

.header__link {
  position: relative;
  text-decoration: none;
  color: black;
  top: -30px;
  border-bottom: solid 4px transparent;
  transition: border-bottom 0.3s ease, top 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.header__close {
  position: absolute;
  right: 25px;
  top: 20px;
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(226, 93, 93);
  cursor: pointer;
}

/* End of Header */

.wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 180px;
  width: 95%;
  margin: 180px auto 36px;
}

/* Start of Hero */

#hero {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: brightness(0.7);
}

.hero__arrow {
  width: 30px;
  cursor: pointer;
  margin: auto auto 45px;
  animation: bounce 4s cubic-bezier(0.85, 0, 0.15, 1) infinite;
}

.hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 491px;
}

.hero__icon {
  width: 113px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.hero__icon::before, .hero__icon::after {
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: white;
  content: '';
  top: 65%;
}

.hero__icon::before {
  top: 65%;
  left: -50%;
  transform: translate(-50%, -50%);
}

.hero__icon::after {
  right: -50%;
  transform: translate(50%, -50%);
}

.hero__icon img {
  width: 100%;
}

.hero__title {
  font-family: var(--font-family-heading);
  color: white;
  font-weight: bold;
  line-height: 105%;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  margin: 30px 0;
}

.hero__subtitle {
  font-size: 42px;
}

.hero__founding {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-align: center;
  position: relative;
  width: 113px;
  margin: 0 auto;
}

.hero__founding::before, .hero__founding::after {
  position: absolute;
  width: 93%;
  height: 2px;
  background-color: white;
  content: '';
  top: 50%;
}

.hero__founding::before {
  left: -43%;
  transform: translate(-50%, -50%);
}

.hero__founding::after {
  right: -43%;
  transform: translate(50%, -50%);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* End of Hero */

/* Start of About */

#about {
  width: 100%;
  max-width: 1215px;
  margin: 0 auto;
}

.about__img {
  width: 100%;
  height: 266px;
  object-fit: cover;
  object-position: center;
  border-radius: 11px;
  filter: var(--img-shadow);
  margin: 52px 0 34px;
}

.about__text {
  box-shadow: var(--content-shadow);
  border-radius: 17px;
  padding: 13% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about__para {
  font-family: var(--font-family-body);
  font-size: 15px;
  line-height: 135%;
  letter-spacing: 0.005em;
}

.para--2 {
  display: none;
}

.para--reveal {
  display: block !important;
}

/* End of About */

/* Start of Products */

.products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.products__title {
  margin-bottom: 52px;
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.products__item {
  width: 310px;
  margin: 0 auto;
  border-radius: 17px;
  box-shadow: var(--content-shadow);
  position: relative;
  box-sizing: border-box;
  padding: 4%;
}

.products__expand {
  position: absolute;
  top: 8%;
  right: 10%;
  background: #fff;
  font-family: var(--font-family-body);
  font-size: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.products__img {
  height: 280px;
  border-radius: 17px;
  object-fit: cover;
  object-position: bottom;
}

.products__name {
  font-family: var(--font-family-heading);
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 5px;
  text-align: center;
}

/* End of Products */

/* Start of FAQ */

#faq, #products {
  width: 100%;
  max-width: 1035px;
  margin: 0 auto;
}

.faq__title {
  margin-bottom: 52px;
}

.faq__list {
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  padding: 20px 0;
}

.faq__item {
  border-bottom: solid 2px #858585;
  width: 85%;
  margin: 0 auto;
  font-family: var(--font-family-body);
  font-size: 14px;
}

.faq__question {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.faq__question h3 {
  line-height: 130%;
  width: 80%;
  cursor: pointer;
}

.faq__expand {
  filter: brightness(0.52);
  width: 22px;
  margin-left: auto;
  margin-right: 3px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.faq__answer {
  margin-bottom: 20px;
  line-height: 130%;
  width: 95%;
  cursor: pointer;
  opacity: 1;
}

.faq__item:last-child {
  border-bottom: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* End of FAQ */

/* Start of Contact */

#contact {
  width: 100%;
  max-width: 821px;
  margin: 0 auto;
}

.contact__title {
  margin-bottom: 52px;
}

.contact__form {
  box-shadow: var(--content-shadow);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 0;
}

.contact__wrapper {
  width: 80%;
  margin: 0 auto;
}

.contact__input {
  width: 100%;
  border: none;
  border-bottom: solid 2px #959595;
  font-family: var(--font-family-body);
  font-size: 15px;
  color: black;
  padding: 8px 0;
  background: transparent;
}

.contact__input::placeholder {
  opacity: 1;
  color: black;
  font-size: 15px !important;
}

.contact__input--message {
  font-size: 14px;
  resize: vertical;
}

.contact__optiongroup, .contact__optiongroup option {
  font-family: var(--font-family-heading);
}

select optgroup option {
  height: 20px;
}

/* End of Contact */

/* Start of Tablet Media Queries */

@media screen and (min-width: 700px) {
  .hero__icon { width: 126px; }

  .hero__icon::before, .hero__icon::after {
    width: 110%;
}

  .hero__icon::before { left: -61%; }

  .hero__icon::after { right: -61%; }

  .hero__title { font-size: 64px; }

  .hero__subtitle { font-size: 50px; }

  .hero__founding { width: 126px; }

  .hero__founding::before, .hero__founding::after {
    width: 126%;
  }

  .hero__founding::before { left: -53%; }

  .hero__founding::after { right: -53%; }

  .wrapper__content { width: 85%; }

  .title--large {
    font-size: 58px;
    width: 500px;
    margin: 0 auto 52px;
  }

  .title--small { font-size: 40px; }

  .about__img { height: 352px; }

  .about__text { padding: 13% 8%; }

  .about__para { font-size: 16px; }

  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }

  .products__item {
    width: 258px;
    padding: 2.5%;
    margin: 0;
  }

  .products__expand {
    top: 10%;
    right: 12%;
  }

  .products__img { height: 240px; }

  .products__name { margin: 18px 0 3px; }

  .faq__item { font-size: 15px; }

  .contact__input { font-size: 16px; }
  .contact__input::placeholder { font-size: 16px !important;}
}

/* End of Tablet Media Queries */

/* Start of Desktop Media Queries */

@media screen and (min-width: 1150px) {

  .wrapper__content {
    margin: 200px auto 50px;
    gap: 300px;
  }

  .title--large {
    font-size: 64px;
    width: 627px;
    margin: 0 auto 66px;
  }

  .products__item {
    /* width: 258px; */
    /* padding: 2.5%; */
    width: 290px;
    padding: 2%;
  }

  .products__img {
    /* height: 240px; */
    height: 249px;
  }

  .products__list {
    gap: 70px;
  }

  .about__img {
    /* height: 352px; */
    height: 180px;
    border-radius: 50%;
    width: 180px;
    margin: 0;
  }
  
  .about__text {
    /* padding: 13% 8%; */
    padding: 7% 4%;
    box-sizing: border-box;
  }

  .about__text {
    width: 58%;
  }

  /* Element | http://localhost:8080/ */

  .about__wrapper {
    display: flex;
    gap: 55px;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
  }

  .para--2 { display: block; }

  /* Element | http://localhost:8080/ */

  .about__imgWrapper {
    width: 40%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  button.button:nth-child(4) {
    display: none;
  }

  .faq__item {
    font-size: 16px;
  }

  .faq__question { padding: 30px 0; }

  .faq__answer {
    line-height: 140%;
    width: 85%;
  }

  .contact__form {
    gap: 60px;
    padding: 86px 0;
  }

}

/* End of Desktop Media Queries */